main {
  width: 100vw;
  height: 80vh;
  padding: 2vh 2vw;
  gap: 20px;
  border: red solid 1px;
}

aside {
  height: 80vh;
}

/* MAIN TEXT */
.main-text_container {
  line-height: 1.5em;
}

/* MAIN IMAGE */
.main-image_container {
  height: 90%;
}

.main-image_container img {
  height: 100%;
}
