main {
  width: 100vw;
  height: 85vh;
  gap: 2vw;
  padding: 2vh 2vw;
}

aside {
  width: 100%;
  height: 85vh;
  /* border: solid 1px blue; */
}

/* MAIN TEXT */
.main-text_container {
  line-height: 1.5em;
}

/* STEPPER */
.stepper_container {
  width: 100%;
}

.stepper-list {
  margin: 0;
  gap: 12px;
}

.stepper-item {
  height: 100%;
  gap: 8px;
}

.checked {
  font-weight: 700;
}

.horizontal-line {
  height: 1px;
  border: var(--border-color) solid 0.5px;
}

/* FORM */
.form_container {
  width: 100%;
  height: 100%;
  border: solid blue 1px;
}

.form_top-container {
  gap: 8px;
}

.form-input_container,
.submit-button_container {
  width: 100%;
  border: red solid 1px;
}

.form-input_container input,
.form-input_container select {
  width: 100%;
  height: 44px;
  padding: 4px;
  border: solid 1px var(--border-color);
  border-radius: 4px;
}

.select-item-default,
.form-input_container input::placeholder,
.form-input_container select::placeholder,
.form-input_container label {
  color: var(--border-color);
}

.form-input_container textarea {
  width: 100%;
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
  border: solid 1px var(--border-color);
  border-radius: 4px;
}

.checkbox_container {
  gap: 12px;
}

.submit-button {
  width: 64px;
  height: 32px;
  font-weight: 700;
  background-color: var(--btn-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* MAIN IMAGE */
.main-image_container {
  height: 100%;
}

.main-image_container img {
  height: 70%;
  object-fit: cover;
}
