.main_container {
  width: 100vw;
  height: 85vh;
  padding: 0 4vh;
  gap: 4vw;
  overflow: scroll;
}

.main_left-container,
.main_right-container {
  width: 100%;
  height: 85vh;
}

/* STEPPER */
.stepper_container {
  width: 100%;
}

.stepper-list {
  margin: 0;
  gap: 12px;
}

.stepper-item {
  height: 100%;
  gap: 8px;
}

.checked {
  font-weight: 700;
}

.horizontal-line {
  height: 1px;
  border: var(--border-color) solid 0.5px;
}

/* FORM */
.form_top-container {
  gap: 1vh;
}

.form-input_container,
.submit-button_container {
  width: 100%;
  margin-bottom: 1vh;
}

.form-input_container input,
.form-input_container select {
  width: 100%;
  height: 32px;
  padding: 4px;
  border: solid 1px var(--border-color);
  border-radius: 4px;
}

.select-item-default,
.form-input_container input::placeholder,
.form-input_container select::placeholder,
.form-input_container label {
  color: var(--border-color);
}

.form-input_container textarea {
  width: 100%;
  padding: 4px;
  font-family: "Source Sans Pro", sans-serif;
  border: solid 1px var(--border-color);
  border-radius: 4px;
}

.checkbox_container {
  gap: 12px;
}

.submit-button {
  width: 64px;
  height: 32px;
  font-weight: 700;
  background-color: var(--btn-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* MAIN IMAGE */
.main-image_container {
  width: 100%;
  height: 100%;
}

.main-image_container img {
  width: 100%;
  height: 90%;
  object-fit: contain;
}
