header {
  width: 100vw;
  height: 10vh;
  padding: 0 4vh;
  margin-bottom: 2vh;
  border-bottom: var(--border-color) 1px solid;
}

.header-logo_container {
  width: 160px;
}

.header-logo {
  width: 100%;
}
