html {
  --border-color: rgba(207, 207, 207, 0.717);
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.align-items_center {
  display: grid;
  align-items: center;
}
